/* body {
  display: flex;
  flex-wrap: wrap;
  /* margin: 7px; */
/* } */
* {
  background-color: lightgrey;
  box-sizing: border-box;
}

header {
  display: inline;
}

h1 {
  display: flex;
  text-align: center;

  justify-content: space-around;
  width: 100%;
}

.welcome {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 37px;
  width: 100%;
  margin-left: 18px;
}

h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.board {
  cursor: grab;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0%;
  height: 400px;
  margin-left: -28px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.rowsOdd .square:nth-child(odd) {
  background-color: white;
}

.rowsEven .square:nth-child(even) {
  background-color: white;
}

#a1 {
  font-size: large;
}

.sideNumbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  height: 341px;
}
.sideNumbers p {
  margin: 0;
  height: 40px;

  padding: 0;
}

.letters {
  display: flex;
  justify-content: center;
  margin: 304px 100px 304px -165px;
  width: 0px;
}

.letters p {
  display: flex;
  padding: 15px;
  height: 0;
}

.piece {
  font-size: 30px;
  background-color: initial;
  /* border: 1px solid black; */
  padding: 1px 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 10px solid black;
}

/* Keep at bottom */
.highlightBlue {
  background-color: #9ccfce;
}
